/*********
* COLORS
*********/
$white:                     #FFFFFF;
$background-light:          #FAFAFA;
$background:                #F5F5F5;
$background-dark:           #E0E0E0;
$black:                     #000000;

$primary-light:             #FFCDD2;
$primary:                   #F44336;
$primary-dark:              #D32F2F;

$secondary-light:           #40C4FF;
$secondary:                 #00B0FF;
$secondary-dark:            #0091EA;


/*********
* VALUES
*********/
$content-padding:           36px;
$light-font-weight:         300;
$standard-font-weight:      400;
$strong-font-weight:        700;

$opacity-primary:           0.87;
$opacity-secondary:         0.54;
$opacity-disabled:          0.38;

$header-height:             4rem;
$footer-height:             2rem;


/*********
* FONT COLORS
*********/
$text-primary:              rgba(0, 0, 0, $opacity-primary);
$text-secondary:            rgba(0, 0, 0, $opacity-secondary);
$text-disabled:             rgba(0, 0, 0, $opacity-disabled);

$inverse-text-primary:      rgba(255, 255, 255, 1);
$inverse-text-secondary:    rgba(255, 255, 255, 0.7);
$inverse-text-disabled:     rgba(255, 255, 255, 0.5);


/*********
* SHADOWS
*********/
$shadow-1:      0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-2:      0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-3:      0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-4:      0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-5:      0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


/*********
* MEDIA VALUES
*********/
$mobile-width:             1023px;
