@import "~css/constants.scss";

html {
    background: $primary;
    background: linear-gradient(135deg, $primary-light 0%, $primary-dark 100%);
    box-sizing: border-box;
    color: $text-primary;
    font-family: 'Poppins', serif;
    font-size: 18px;
    font-weight: $standard-font-weight;
    line-height: 1.5;
    min-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2 {
    font-family: 'Abril Fatface', cursive;
    font-weight: $standard-font-weight;
    margin: 0.5rem;
}

h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: $extra-strong-font-weight;
    margin: 0;
}

h3 {
    text-transform: lowercase;
}

h4 {
    font-size: 1.15em;
}

a {
    color: $secondary-dark !important;
    text-decoration: none;
    &:focus {
        color: $secondary-light !important;
        text-decoration: underline;
    }
    &:hover {
        color: $secondary !important;
        text-decoration: underline;
    }
    &:visited {
        color: $secondary-dark !important;
    }
}

section {
    background: $background-light;
    box-shadow: $shadow-2;
    margin-top: 1.5rem;
    padding: 1rem 1rem 2rem;
    position: relative;
    @media (max-width: $mobile-width) {
        margin-top: $header-height + 1.5rem;
    }
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 $content-padding;
    width: 100%;
}

.hidden {
    display: none !important;
}

.icon {
    align-items: center;
    display: inline-flex;
    flex-flow: row nowrap;
    font-size: 1.5rem;
    font-style: normal;
    i {
        color: $primary;
    }
    span {
        font-size: 1rem;
        padding-left: 0.5rem;
    }
}

.mobile-only {
    display: none;
    @media (max-width: $mobile-width) {
        display: inline-block;
    }
}
