@import "~css/constants.scss";

html {
    background: $primary;
    background: linear-gradient(135deg, $primary-light 0%, $primary-dark 100%);
    box-sizing: border-box;
    color: $text-primary;
    font-family: 'Josefin Sans', serif;
    font-size: 18px;
    font-weight: $standard-font-weight;
    min-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2 {
    font-family: 'Sacramento', cursive;
    font-weight: $standard-font-weight;
    margin: 0.5rem;
}

h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.25rem;
    font-weight: $extra-strong-font-weight;
    margin: 0;
}

h4 {
    font-size: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
    }
    &:visited {
        color: inherit;
    }
}

section {
    background: $background-light;
    margin-top: 1.5rem;
    padding: 1rem 1rem 2rem;
    @media (max-width: $mobile-width) {
        margin-top: $header-height + 1.5rem;
    }
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 $content-padding;
    width: 100%;
}

.hidden {
    display: none !important;
}

.mobile-only {
    display: none;
    @media (max-width: $mobile-width) {
        display: inline-block;
    }
}
