@import "~css/constants.scss";

.photographs {
    .thumbnails {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        max-width: 100%;
        .img-wrapper {
            width: 7%;
            img {
                height: auto;
                width: 100%;
            }
            @media (max-width: $mobile-width) {
                width: 15%;
            }
        }
    }
    .hella-trendy {
        display: flex;
        flex-flow: row nowrap;

    }
    .trendy-box {
        display: flex;
        flex-flow: column
    }
}
