@import "~css/constants.scss";

.photographs {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 100%;
    .img-wrapper {
        width: 7%;
        img {
            height: auto;
            width: 100%;
        }
        @media (max-width: $mobile-width) {
            width: 15%;
        }
    }
}
