@import "~css/constants.scss";

header {
    color: $secondary-dark;
    font-size: 0.85rem;
    height: $header-height;
    z-index: 100;
    .background {
        background: $background-light;
        // border-top: 0.35rem solid $secondary-light;
        box-shadow: $shadow-1;
        height: $header-height;
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: -1;
    }
    .menu {
        color: $secondary-dark;
        cursor: pointer;
        font-size: 2em;
    }
    .menu-cover {
        display: block;
        @media (max-width: $mobile-width) {
            background: transparentize($background-dark, $opacity-disabled);
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: -1;
        }
    }
    @media (max-width: $mobile-width) {
        align-items: center;
        display: flex !important;
        flex-flow: row nowrap;
        justify-content: space-between;
        left: 0;
        padding: 1em;
        position: fixed;
        right: 0;
        top: 0;
    }
}
