@import "~css/constants.scss";

.banner {
    align-items: center;
    background: $secondary-light;
    color: $inverse-text-primary;
    display: flex;
    justify-content: center;
    margin: 0 -2rem 1rem;
    margin-left: -2rem;
    padding: 0.25rem 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: calc(100% + 4rem);
    z-index: 25;
    .banner-wrap {
        border-top: 0;
        border-bottom: 0.75rem solid transparent;
        height: 0;
        position: absolute;
        top: 100%;
        width: 0;
        &.left {
            left: 0;
            border-right: 1rem solid $secondary-dark;
        }
        &.right {
            right: 0;
            border-left: 1rem solid $secondary-dark;
        }
    }
}
